<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SuiteCRM Regression Automation" verbose="2"   thread-count="10">

	<test name="Automated tests">
		<classes>
			<class name ="runner.CukesRunner"></class> 
		</classes>
	</test>
</suite>
 